.files {
    width: 100%;
    display: flex;
    list-style: none;
    background-color: var(--explorer-bg);
    position: fixed;
    z-index: 9;
}

.file {
    padding: .5rem 1.25rem;
    display: flex;
    gap: 5px;
    background-color:  var(--explorer-file-bg);
    border-right: 1px solid var(--main-bg);
    font-size: .9rem;
}

.menuItems{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.menuItem{
    list-style: none;
}